---
const { person } = Astro.props;
---

<!-- 
rounded-t-[5px] = afrundede hjørner øverst med 5px radius.
rounded-b-none = ingen afrunding nederst.
-->
<article
  class="bg-background2 border-background1 bg-background2 flex h-full flex-col overflow-hidden rounded-t rounded-b border shadow-sm transition"
>
  <!-- Billede -->
  <div class="relative aspect-square w-full overflow-hidden">
    <img
      src={`/assets/holdet/${person.img}`}
      alt={person.full_name}
      class="h-full w-full object-cover object-center"
      loading="lazy"
    />

    <!-- Ikoner -->
    <div class="absolute top-4 right-4 flex flex-col gap-2">
      {
        person.email && (
          <a
            href={`mailto:${person.email}`}
            class="flex h-10 w-10 items-center justify-center rounded-full md:h-10 md:w-14"
          >
            <img
              src="/assets/grafik/some-ikon/mail.svg"
              alt="Mail ikon"
              class="w-8 md:w-10"
            />
          </a>
        )
      }

      {
        person.tlf && (
          <a
            href={`tel:${person.tlf}`}
            class="flex h-8 w-10 items-center justify-center rounded-full md:h-14 md:w-14"
          >
            <img
              src="/assets/grafik/some-ikon/phone.svg"
              alt="Telefon ikon"
              class="w-10 md:w-13"
            />
          </a>
        )
      }
    </div>

    <!-- Bølge -->
    <svg
      aria-hidden="true"
      class="text-background2 absolute inset-x-0 -bottom-2 block h-5 w-full"
      viewBox="0 0 301 26"
      preserveAspectRatio="none"
    >
      <path
        fill="currentColor"
        d="M0 25.9118C0 17.5785 0 9.24514 0 0.911808C1.85395 0.960035 3.71907 1.00826 5.57668 1.05649C7.11212 1.13393 10.9015 0.819418 14.0317 0.651952C29.1526 -0.220198 44.0339 -0.0874233 58.8479 0.297572C104.121 1.67622 149.01 4.78785 193.672 6.19955C207.817 6.57689 221.899 6.98511 235.946 7.29779C243.407 7.44099 250.878 7.59771 258.346 7.77756C268.084 8.20673 276.981 9.12313 286.184 9.7536C291.16 10.1063 296.144 10.4448 300.995 10.581C300.998 13.706 301.002 16.831 301.005 19.956C295.819 20.0786 290.779 19.9941 285.721 19.8993C276.525 19.7427 267.023 19.2961 258.367 19.3671C250.911 19.5743 243.487 19.8043 236.025 20.0481C221.832 20.4679 207.82 20.7914 193.653 21.1461C148.465 22.0611 103.392 21.2804 58.8158 22.2415C44.3395 22.6122 30.0023 23.246 16.0257 24.7885C12.8298 25.0994 10.3656 25.5825 5.57668 25.7671C3.71907 25.8154 1.85395 25.8636 0 25.9118Z"
      ></path>
    </svg>
  </div>

  <!-- Tekst -->
  <div
    class="flex min-h-38 flex-1 flex-col px-4 pt-2 pb-3 text-center md:px-6 md:pb-6"
  >
    <h3 class="text-secondary text-m-title3 md:text-title3 font-semibold">
      {person.full_name}
    </h3>

    <p class="text-m-p-big md:text-p-big min-h-14 font-medium">
      {person.title}
    </p>

    <p class="text-m-p-small md:text-p-small font-light">
      {person.extra}
    </p>
  </div>
</article>
