---
interface Props {
  title: string;
  paragraphs: string[];
  image: string;
  imageAlt: string;
  caption?: string;
  imageClass?: string;
  figureClass?: string;
  textClass?: string;
  headingTag?: "h1" | "h2" | "h3";
}

const {
  title,
  paragraphs,
  image,
  imageAlt,
  caption,
  imageClass,
  figureClass,
  textClass,
  headingTag,
} = Astro.props;
---

<section class="mx-auto max-w-230 gap-3 px-4 py-10">
  <div
    class="mx-auto grid max-w-5xl grid-cols-1 items-start gap-10 lg:grid-cols-2"
  >
    <!-- Billede -->
    <figure class={figureClass || "order-1 w-full lg:order-1"}>
      <img
        src={image}
        alt={imageAlt}
        class={`${imageClass || "w-full"} rounded-md object-cover`}
      />

      {
        caption && (
          <figcaption class="font-body text-m-p-small text-secondary lg:text-p-small mt-2 text-right">
            {caption}
          </figcaption>
        )
      }
    </figure>

    <!-- Tekst -->
    <div class={textClass || "order-2 lg:order-2"}>
      {
        headingTag === "h1" && (
          <h1 class="font-body text-m-title1 lg:text-title1 font-bold">
            {title}
          </h1>
        )
      }

      {
        (!headingTag || headingTag === "h2") && (
          <h2 class="font-body text-m-title2 lg:text-title2 font-bold">
            {title}
          </h2>
        )
      }

      {
        headingTag === "h3" && (
          <h3 class="font-body text-m-title3 lg:text-title3 font-bold">
            {title}
          </h3>
        )
      }

      <div
        class="font-body text-m-p-big text-secondary lg:text-p-big space-y-5 leading-relaxed"
      >
        {paragraphs.map((paragraph) => <p>{paragraph}</p>)}
      </div>
    </div>
  </div>
</section>
